.titleBlock-align-left div:first-child {
    text-align: left !important;
    margin-left: var(--spectrum-global-dimension-size-150) !important;
}

.useCaseCard-doc-gen .spectrum-Card-body:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
    border-bottom-left-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
    height: 120px;
}

.useCaseCard .spectrum-Card-content{
    margin-top: 15px;
}

.home-news-button {
    padding-top: 0 !important;
    padding-bottom: 2% !important;
}
.useCaseCard .spectrum-Card-body:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
    border-bottom-left-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
    height: 160px;
}
@media screen and (max-width: 768px) {
    .useCaseCard .spectrum-Card-body:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
        border-bottom-left-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
        height: 160px;
    }
}
@media screen and (max-width: 480px) {
    .useCaseCard .spectrum-Card-body:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
        border-bottom-left-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
        height: 160px;
    }
}

.mini-card {
    padding: 1% 0 24px 0 !important;
} 

.mini-card h3 {
    font-size: large !important;
    font-weight: 700 !important;
    white-space: nowrap !important;
}

.mini-card > div > div > div{
    box-shadow: 0 9px 15px 5px #e6e6e6 !important;
    margin: 0 !important;
}

.mini-card > div > div > div > div{
    max-height: 100px !important;
}