.titleBlock-align-left div:first-child {
    text-align: left !important;
    margin-left: var(--spectrum-global-dimension-size-150) !important;
}

.useCaseCard-doc-gen .spectrum-Card-body:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
    border-bottom-left-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
    height: 120px;
}

.useCaseCard .spectrum-Card-content{
    margin-top: 15px;
}

.home-news-button {
    padding-top: 0 !important;
    padding-bottom: 2% !important;
}
.useCaseCard .spectrum-Card-body:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
    border-bottom-left-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
    height: 160px;
}
@media screen and (max-width: 768px) {
    .useCaseCard .spectrum-Card-body:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
        border-bottom-left-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
        height: 160px;
    }
}
@media screen and (max-width: 480px) {
    .useCaseCard .spectrum-Card-body:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
        border-bottom-left-radius: var(--spectrum-card-border-radius, var(--spectrum-alias-border-radius-regular));
        height: 160px;
    }
}

.mini-card {
    padding: 0 0 4% 0 !important;
}

.mini-card h3 {
    font-size: large !important;
    font-weight: 700 !important;
}

@media screen and (min-width: 1024px) {
    .mini-card>div{
        gap: 5% !important;
    }
}
.mini-card>div {
    padding: 10px !important;
    width: 60% !important;
    margin: auto !important;
    max-width: 100% !important;
}

.mini-card>div>div {
    width: 100% !important;
    margin: 0 !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #cccccc ;
    max-height: 100px !important;
}

.mini-card a>div:last-child{
    border: none !important;
    height: 67px !important;
}

.mini-card>div>a>div>div:first-child {
    width: 25%;
}

.mini-card>div>div>div>div {
    width: 200px !important;
    padding: 0 0 0 4% !important;
    border: none !important;
}

.support-tools {
    justify-items: center;
}

.announcement>div>div>div {
    width: 100%;
    text-align: center;
}

.announcement>div {
    padding: 5% 0 2% 0  !important;
}

.announcement>div>div>div>h3,
.viewAddOn h3 {
    font-size: 37px !important;
}

@media screen and (max-width: 1024px) {
    .text-style>div>p{
        height: auto;
    }
}